@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0 auto;
  scroll-behavior: smooth;
  background-color: rgb(1, 28, 38);
  font-family: "IBM Plex Mono", monospace;
  color: #41BF9B;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #41BF9B;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover {
  color: #F2E63D;
}

.container {
  max-width: 1245px;
  margin: 0 auto;
  padding: 50px 0px;
}

.wrapper {
  width: 100%;
  padding: 0px 50px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.navbar-item-active a {
  color: #F2E63D;
  border-bottom: 2px solid #F2E63D;
}

main {
  background: rgba(1, 28, 38, 0.6);
  background-image: url(../img/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 700px;
}

.header-menu__wrapper {
  border-bottom: solid 3px #B149BF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: fixed;
  z-index: 3;
}

.header-menu__wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgb(1, 28, 38);
}

.header-menu__wrapper:hover {
  background: rgba(1, 28, 38, 0.8);
}

.container-header {
  max-width: 1245px;
  margin: 0 auto;
  padding: 15px 0px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__logo {
  z-index: 2;
}

.header-menu__logo a {
  font-size: 40px;
  font-weight: 600;
}

.header-menu__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

.header-menu__navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-item {
  font-size: 20px;
}

.hero-block__wrapper {
  padding-top: 75px;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-block__title {
  min-width: 450px;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 45%;
}

.hero-block__title h1 {
  font-size: 60px;
}

.hero-block__title h2 {
  font-size: 22px;
}

.hero-block__title span {
  font-size: 18px;
}

.hero-block__button {
  border: solid 2px #B149BF;
  color: #B149BF;
  padding: 15px 20px;
  font-weight: 500;
  font-size: 22px;
  background-color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 200px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hero-block__button:hover {
  color: #F2E63D;
  border-color: #F2E63D;
}

.some-block canvas {
  border: solid 3px #B149BF;
  width: 450px;
  height: 350px;
}

.bio {
  padding-top: 50px;
  margin-bottom: -50px;
}

.bio__title {
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.bio__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bio-button {
  border: solid 2px #B149BF;
  color: #B149BF;
  padding: 15px 20px;
  font-weight: 500;
  font-size: 22px;
  background-color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-right: 25px;
}

.bio-button:hover {
  color: #F2E63D;
  border: solid 2px #F2E63D;
}

.bio-button:last-child {
  margin-right: 0px;
}

.bio-button__active {
  color: #F2E63D;
  border-color: #F2E63D;
}

.bio-title h1 {
  text-align: center;
  margin-bottom: 35px;
}

.bio-sport__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px 0px;
}

.bio-sport__img img {
  height: 250px;
  border: solid 3px rgb(1, 28, 38);
  margin: 20px;
}

.bio-sport__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 30px;
  border-bottom: dotted 3px #41BF9B;
}

.bio-sport__text-item {
  text-align: center;
  width: 40%;
}

.bio-prog__title {
  text-align: center;
  margin-bottom: 35px;
  margin-top: 0;
}

.bio-prog__title1 {
  margin: 30px 0px;
}

.bio-prog__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 30px;
  border-bottom: dotted 3px #41BF9B;
}

.bpi__item {
  width: 30%;
  max-width: 300px;
  text-align: center;
}

.bpi__item h2 {
  text-align: center;
  font-weight: 600;
}

.bpi__item span {
  font-weight: 300;
  text-align: center;
}

.bio-prog__skils {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skils-item {
  height: 200px;
  width: 350px;
  padding: 20px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 3px #B149BF;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.skils-item:hover {
  background-color: rgba(1, 28, 38, 0.7);
}

.skils-item h2 {
  font-weight: 600;
}

.bio-style__title {
  margin-top: 0;
}

.bio-style__subtitle h2 {
  max-width: 600px;
  text-align: center;
  font-weight: 300;
  margin: 0 auto;
  font-size: 20px;
}

.bio-style__subtitle {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: dotted 3px #41BF9B;
}

.bio-style__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bio-style__img-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bio-style__img-row img {
  width: 400px;
  border: solid 3px rgb(1, 28, 38);
}

.bio-style__img-block {
  position: relative;
  margin: 20px;
  z-index: 0;
}

.bio-style__img-block span {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 20px;
  width: 100%;
  height: 0%;
  opacity: 0;
  background-color: rgba(1, 28, 38, 0.7);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.bio-style__img-block:hover span {
  height: 99%;
  opacity: 1;
}

.bio-music__subtitle {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: dotted 3px #41BF9B;
}

.bio-music__subtitle h2 {
  max-width: 600px;
  text-align: center;
  font-weight: 300;
  margin: 0 auto;
  font-size: 20px;
}

.bio-music__body {
  text-align: center;
}

.bmb-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bmb-item__covers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 500px;
  margin-right: 20px;
}

.bmb-item__covers-reverse {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 0px;
  margin-left: 20px;
}

.bmb-item__covers img {
  width: 200px;
  border: solid 3px rgb(1, 28, 38);
}

.bmb-item__covers a:last-child {
  margin-left: 20px;
}

.bmb-item__info {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bmb-item__info h2 {
  font-size: 25;
  margin-bottom: 10px;
}

.bmb_stick {
  width: 100%;
  text-align: center;
  margin: 30px 0px;
}

.stick {
  width: 200px;
  height: 3px;
  border-bottom: 3px solid #41BF9B;
  margin: 0 auto;
}

.footer__wrapper {
  border-top: solid 3px #B149BF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__wrapper:hover {
  background: rgba(1, 28, 38, 0.8);
}

.container-footer {
  max-width: 1245px;
  margin: 0 auto;
  padding: 20px 0px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
}

.social {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-icon {
  height: 30px;
}

.author {
  font-size: 20px;
}

.header__burger {
  display: none;
  z-index: 2;
}

@media screen and (max-width: 1070px) {
  header {
    background-image: url(../img/hero-bg1.png);
  }

  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hero-block__title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
  }

  .hero-block__title span {
    text-align: center;
  }

  .bio-style__img-row img {
    width: 320px;
  }

  .bmb-item__info {
    margin-bottom: 20px;
  }

  .bmb-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .bmb-item__covers {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 500px;
    margin-right: 0px;
  }

  .bmb-item__covers-reverse {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }

  .header__burger span {
    position: absolute;
    background-color: #41BF9B;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }

  .header__burger::before,
.header__burger::after {
    content: "";
    position: absolute;
    background-color: #41BF9B;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header-menu__navbar {
    padding-top: 100px;
    position: fixed;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgb(1, 28, 38);
    z-index: 1;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header-menu__navbar.active {
    top: 0px;
  }

  .header-menu__navbar ul {
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 20px;
  }

  .header-menu__navbar ul li {
    padding-bottom: 22px;
    font-weight: 700;
    font-size: 25px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
  }

  .header-menu__navbar ul li a {
    width: 200px;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  .bio-sport__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 30px;
    border-bottom: dotted 3px #41BF9B;
  }

  .bio-sport__text-item {
    text-align: center;
    width: 70%;
    margin-bottom: 30px;
  }

  .bio-style__img-row img {
    width: 250px;
  }

  .bio-style__img-block {
    margin: 15px;
  }

  .bio-prog__information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .bpi__item {
    width: 70%;
    text-align: center;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 580px) {
  .header-menu__logo a {
    font-size: 30px;
  }

  .hero-block__title {
    min-width: 300px;
    min-height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 45%;
  }

  .hero-block__title h1 {
    font-size: 40px;
  }

  .hero-block__title h2 {
    font-size: 18px;
  }

  .hero-block__title span {
    font-size: 16px;
  }

  .some-block canvas {
    width: 300px;
    height: 200px;
  }

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70px;
  }

  .social {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.hide {
  display: none;
}